
body{
    background-color : white;
}

.top{
    border: solid;
    border-width: 2px;
    border-color: black;
    
}

p{
    padding: 0px 20px 10px 25px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 50;
    line-height: 32px;
}

h1{
    padding-left: 25px;
    text-decoration: underline;
}

img{
    width: 50%;
    padding-left: 25px;
}

li{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 50;
    line-height: 32px;
}